<div class="card bg-secondary text-white rounded">
    <div class="card-body">
        <h1>About me</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perferendis sint quae velit ipsum quis vel, totam eligendi, qui nesciunt molestiae porro ea dolorem nam cum eum exercitationem ducimus repellat?
        </p>
    </div>
</div>