<div class="mt-4 p-5 bg-secondary text-white rounded">
    <h1 class="display-4">Note App NodeJs and MongoDB</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis laudantium, blanditiis doloremque sint exercitationem dolore maiores magni harum quibusdam,
        provident a voluptas, animi quisquam odio impedit explicabo suscipit? Eaque, tenetur.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quos possimus, vero atque saepe expedita obcaecati nostrum quod. Ipsa atque illum beatae! Eum soluta, 
        fuga incidunt harum ad quibusdam reiciendis.</p>
    <a href="https://getbootstrap.com/docs/5.1/examples/jumbotron/" class="btn btn-primary btn-lg-4">Example</a>
</div>